*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}
#container
{   
    width: 100vw;
    height: 100vh;
    background: blue;
}
#box{
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%,-50%);

}
#spinner{

    height: 50px;
    width: 50px;
    border: 4px solid blue;
    border-top: 4px solid white;
    border-radius: 50%;
    margin-left: 35%;
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: liner;
    
}
@keyframes rotate {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }   
}